@media only screen and (max-width: 1200px) {
  .text-box {
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 40px 0;
  }
  p {
    font-size: 90%;
  }
  .profile {
    margin-left: 60px;
    overflow: hidden;
    height: 400px;
    width: 280px;
    box-shadow: 0px 1px 2px #f8f8f8;
  }
  .about {
    margin-right: 20px;
  }

  .profile img {
    height: 400px;
    width: 280px;
  }
  /* .social-profiles {
    margin-left: 120px;
  } */
  .social-profiles {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .leetcode {
    margin-top: 10px;
    margin-right: 5px;
    height: 30px;
    width: auto;
  }
  .social-img {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: auto;
  }
  .images a {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
  }
  .icon-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .icon-image img {
    width: 160px;
    height: auto;
  }
  .next {
    margin-left: 2px;
  }
  .project {
    list-style: none;
    height: 300px;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: -30px;
    position: relative;
  }

  .project figure {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .project img {
    width: 100%;
    height: 200px;
    object-fit: strech;
  }

  .project a {
    font-size: 75%;
  }
  .overlay {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 90%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  h1 {
    margin: 0;
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 20px;
    word-spacing: 2px;
  }
  section {
    padding: 30px 0;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 1.6%;
  }

  p {
    font-size: 90%;
  }

  /* .profile {
    margin-left: 50px;
    overflow: hidden;
    height: 300px;
    width: 250px;
  } */
  .pic {
    width: 100%;
  }
  .profile {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 350px;
    width: 280px;
  }
  .about {
    margin-right: 20px;
  }

  .profile img {
    height: 400px;
    width: 280px;
  }

  /* .profile {
    display: block;
    overflow: hidden;
    height: 300px;
    width: 250px;
  } */
  .social-profiles {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  /* .social-profiles {
    margin: 0;
    margin-left: 100px;
  } */
  .leetcode {
    margin-top: 10px;
    margin-right: 5px;
    height: 30px;
    width: auto;
  }
  .social-img {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: auto;
  }

  .icon-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .icon-image img {
    width: 130px;
    height: auto;
  }
  .project img {
    width: 50%;
    height: 150px;
    object-fit: strech;
    display: block;
    margin: auto;
  }
  .project a {
    background-color: #353535;
    width: 50%;
    padding: 0;
    display: block;
    font-size: 100%;
    margin: auto;
  }
  .overlay {
    position: absolute;
    top: 41.69%;
    left: 50%;
    font-size: 100%;
    height: 50px;
    width: 50%;
    padding: 20px;
  }
  .left {
    float: left;
    width: 150px;
  }

  .right {
    float: right;
    width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 30px 0;
  }
  h1 {
    margin: 0;
    font-size: 160%;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 20px;
    word-spacing: 2px;
  }
  .col {
    width: 100%;
    margin: 0 0 1% 1.6%;
  }
  p {
    font-size: 80%;
  }
  .main-nav {
    float: right;
    list-style: none;
    margin-right: 10px;
  }
  .main-nav li {
    display: inline-block;
    margin-left: 20px;
  }
  .pic {
    width: 100%;
  }
  .profile {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 250px;
    width: 200px;
  }
  .about {
    margin-top: -20px;
    margin-right: 10px;
  }

  .profile img {
    height: 350px;
    width: 200px;
  }

  .social-profiles {
    display: flex;
    justify-content: center;
  }

  .icon-image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .dim-right {
    height: 189.2px;
    width: 271.31px;
  }

  .dim-left {
    height: 189.2px;
    width: 271.31px;
  }
  .icon-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  /* .project {
    margin-bottom: -80px;
    position: relative;
  }

  .project img {
    width: 50%;
    height: 150px;
    object-fit: strech;
    margin-left: 120px;
  }

  .project a {
    background-color: #353535;
    margin-left: 119px;
    width: 234px;
    padding: 0;
    display: block;
    font-size: 100%;
    text-align: center;
  } */

  .project img {
    width: 50%;
    height: 150px;
    object-fit: strech;
    display: block;
    margin: auto;
  }
  .project a {
    background-color: #353535;
    width: 50%;
    padding: 0;
    display: block;
    font-size: 100%;
    margin: auto;
  }
  .overlay {
    position: absolute;
    top: 41.69%;
    left: 50%;
    font-size: 100%;
    height: 50px;
    width: 50%;
    padding: 20px;
  }
  .left {
    float: left;
    width: 130px;
  }

  .right {
    float: right;
    width: 130px;
  }
}
